*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(255, 105, 180), rgb(255, 192, 203) );
}

.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc-grid button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(199, 21, 133);
    outline: none;
    background-color: rgba(255, 105, 180, 0.3);
    color: #C71585;
}

.calc-grid button:hover {
    background-color: rgba(255, 105, 180, 0.8);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(199, 21, 133);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 12px;
    word-break: break-all;
    word-wrap: break-word;
}

.previous-operand {
    color: rgb(255, 105, 180);
    font-size: 25px;
}

.current-operand {
    color: rgb(255, 192, 203);
    font-size: 35px;
}
